body {
    text-align: center;
    background-color: burlywood;
    /*background-image: url(https://steamuserimages-a.akamaihd.net/ugc/809997459553919208/580192EFBD48D204462263A517BD48E641715C3C/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false);*/
}

.links-img {
    width: 10%;
    height: auto;
}