
body {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: #de7420;
}

h4 {
    text-align: center;
    letter-spacing: 2px;
    border: 1px solid blue;
}

a h4:hover {
    background-color: cadetblue;
}
a, h4 {
    width: min-content;
    text-decoration: none;
    width: 10%;
}

.container {
    position: absolute;
    margin-top: 15%;
    padding: 20px;
    border: 1px solid #292929;
    border-radius: 20px;
    width: 80%;
}
